.badge{
    width: 30px;
    height: 30px;
    border: 2px solid #673AB7;
    border-radius: 50%;
    text-align: center;
    background-color: #B39DDB;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #EDE7F6;
}
