.product{
    padding: 10px 10px;
    margin: 15px;
    border: 1px solid rgb(90, 83, 83);
    border-radius: 15px;
    background-color: rgba(59, 57, 61, 0.26);

}
.title{
   font-weight: bolder;
}
.product button{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.quantity{
    font-weight: bold;
    border-radius: 50%;
    background-color: rgba(156, 146, 146, 0.288);
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.productImg{
    width: 20%;
    height: 50%;
}
.remove{
    color: red;
    border-color: red;
}